@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(hsl(251, 96%, 68%),rgb(236, 229, 253));
}
nav
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(25, 135, 150);
    border-radius: 30px;
}
nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li
{
    list-style: none;
    margin-left: 20px;
}
nav ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
nav ul li a:hover ,
nav ul li a:hover.active
{
    background: #165669;
    color: #fff;
}
.detel
{
    margin-left: 8%;
    margin-top: 15%;
}
.picture
{
    margin-right: 8%;
    margin-left: 8%;
    top: 2%;
    mix-blend-mode: screen;
    float: right;
}
.login {
    width: 400px;  
        overflow: hidden;  
        margin: auto;    
        padding: 60px;  
        background: #23463f;  
        border-radius: 15px ;
}
#kasutaja {  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 5px; 
    padding-right: 5px; 
}
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 5px;
}
.nupp{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;
}
span{  
    color: white;  
    font-size: 17px;
}
a{  
    align-items: center;  
    background-color: #08ffd1;  
}    
h5 {  
    text-align: center;  
    color: #277582;  
    padding: 20px;
}
label {  
    color: #08ffd1;  
    font-size: 17px;
}
section
{
    border-radius: 30px;
    background-color: rgb(18, 86, 117);
    width: max-content;
    mask-border-width: 2PX;
    border-color: aliceblue;
    width: 50%;
    margin-top: 10%;
    margin-right: 33%;
    margin-left: 5%;
    align-self: auto;
}
section h2
{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
section h4
{
    text-transform: uppercase;
    color: #b2b2b2;
    text-align: center;
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
