@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(hsl(251, 96%, 68%),rgb(236, 229, 253));
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav .logo{
    margin-left: 5%;
    margin-top: 0;
    mix-blend-mode: color-burn;
    align-items: center;
    width: 50%;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
nav ul li a:hover ,
nav ul li a:hover.active
{
    background: #f1f1f1;
    color: #165669;
}
.detel{
    margin-left: 8%;
    margin-top: 8%;
}
.picture{
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 3%;
    mix-blend-mode: overlay;
    float: right;
    border-style: double;
    border-color: #f1f1f1;
    border-width: 2px;
}
.login {
    width: 400px;  
        overflow: hidden;  
        margin: auto;    
        padding: 60px;  
        background: #23463f;  
        border-radius: 15px ;
}
.registreeri {
    width: 400px;  
        overflow: hidden;  
        margin: auto;    
        padding: 60px;  
        background: #23463f;  
        border-radius: 15px ;
    height: 500px;
}
#kasutaja {  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 5px; 
    padding-right: 5px; 
}
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 5px;
}
.nupp{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;
}
.kast{
    width: 300px;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: blue;
}
span{  
    color: white;  
    font-size:17px;
}
a{  
    align-items: center;  
    background-color: #165669;  
}    
h5 {  
    text-align: center;  
    color: #277582;  
    padding: 20px;
}
label {  
    color: #08ffd1;  
    font-size: 17px;
}
section{
    border-radius: 30px;
    background-color: rgb(28, 94, 124);
    mix-blend-mode:overlay;
    mask-border-width: 2PX;
    border-color: aliceblue;
    width: 100;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10%;
    align-self: auto;
}
section h1{
    color:wheat;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5%;
}
section h4{
    text-transform: uppercase;
    color:wheat;
    text-align: center;
    margin-left: 8%;
    font-size: 20px;
}
* {box-sizing: border-box}

section h5{
    text-transform: uppercase;
    color:white;
    text-align: center;
    font-size: large;
}
/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.kontaktid {
    background-image: image('taust.gif');
    width: 50%;
}
.kontaktid section{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.kontaktid section h1 {
    text-transform: uppercase;
    align-items: center;
    color: #041c24;
}
.kontaktid section ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kontaktid section ul li{
    list-style: none;
    margin-left: 20px;
}
.kontaktid section ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
.kontaktid section ul li a:hover ,
.kontaktid section ul li a:hover.active
{
    background: #f1f1f1;
    color: #165669;
}